@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  /* overflow: hidden; */
  box-sizing: border-box; /* 기본적으로 box-sizing 설정 */
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
}


*,
*::before,
*::after {
  box-sizing: border-box; /* 모든 요소와 의사 요소에 적용 */
}


@font-face {
  font-family: 'NPSfontRegular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontRegular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
